* {
    padding: 0px;
    margin: 0;
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.barra-superior {
    background-color: rgba(116, 159, 252, 0.9);
    box-shadow: 0 1px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 150px;
}

.superior1 {
    min-width: 200px;
    max-width: 200px;
    text-align: center;
}

.superior2 {
    width: 100%;
    text-align: center;
}

.superior3 {
    display: flex;
    text-align: center;
    width: 400px;
    justify-content: space-evenly;
    font-size: 20px;
}

.superior3>a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

/* uso do > para selecionar somente a propriedade? */

.container-principal {
    display: flex;
    height: 100%;
    font-size: 18px;
}

.barra-lateral {
    background-color: rgba(116, 159, 252, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 300px;
    padding: 30px;
}

.lista-sidenav {
    margin-left: 30px;
}

.conteudo {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: fit-content;
    padding: 20px;
    width: 100%;
    overflow: auto;
}

/* STYLE BORDAS */

.borda {
    border: 1px solid black;
}

/* STYLE SOMBRAS */

.sombra {
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.7);
}

.favoritos {
    min-width: 250px;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
}

/* CSS LISTA SEMANAL*/

.aulas {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 20px auto;
}

.tabela-semanal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.tabela-semanal>table {
    padding: 1em;
    border-collapse: collapse;
}

td {
    padding: 20px;
    text-align: center;
    border: 1px solid lightgray;
}

.background-descanso {
    background-color: rgba(206, 205, 202, 0.5);
}

.background-backend {
    background-color: rgba(103, 36, 222, 0.5);
}

.background-frontend {
    background-color: rgba(0, 120, 223, 0.5);
}

.background-softskills {
    background-color: rgba(221, 0, 129, 0.5);
}

.background-revisao {
    background-color: rgba(233, 168, 0, 0.5);
}

/* CSS DATAS UTEIS*/

.datas-uteis {
    margin-top: 30px;
    padding: 30px;
}